{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/media/image/logo.png" alt="logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'product_list' %}">Product List</a></li>
                <li><a href="{% url 'card_view' %}">View Cart</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                
        
            </ul>
        </nav>
    </header>
<body>

    <h2>Payment Successful!</h2>
    <p>Your order has been placed successfully. You have chosen <strong>{{ payment_method }}</strong> as your payment method.</p>
    <p>Thank you for your order! The payment will be collected upon delivery.</p>

</body>
</html>
